body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-image: url(../media/c935ca70-daf4-44ee-959f-521467531979.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
body h1 {
  font-size: 6.5rem;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
}
body h2 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
body .botonBox {
  width: 6.25rem;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  margin-top: 5.25rem;
}
body .box-selects {
  display: flex;
  justify-content: space-evenly;
}
body .box-selects .selectPj-box, body .box-selects .selectMonster-box {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
body .box-selects .selectPj-box .h3-select, body .box-selects .selectMonster-box .h3-select {
  text-align: center;
  margin-top: 14rem;
  font-size: 1.5rem;
  font-weight: bold;
}
body .box-selects .selectPj-box .selectPj, body .box-selects .selectMonster-box .selectPj {
  width: 12.5rem;
  height: 6rem;
}
body .box-selects .selectMonster-box .h3-select {
  text-align: center;
  margin-top: 14rem;
  font-size: 1.5rem;
  font-weight: bold;
}
body .box-selects .selectMonster-box .selectMonster {
  width: 12.5rem;
  height: 6rem;
}
body .arena {
  width: 48rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
body .arena .personaje-Img .ataque {
  animation: golpear 0.2s linear;
}
@keyframes golpear {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
body .arena .personaje-Img img {
  width: 10rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 0;
}
body .arena .mounstro-Img .ataque {
  animation: golpear 0.2s linear;
}
@keyframes golpear {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
body .arena .mounstro-Img img {
  width: 20rem;
  height: 20rem;
  position: absolute;
  right: 0;
  top: 0;
}
body .arena .barra-vida {
  width: 20rem;
  height: 1.25rem;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  margin-top: 1.25rem;
}
body .arena .barra-vida .vida {
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 10px;
}
body .arena .barra-vida-mounstro {
  width: 20rem;
  height: 1.25rem;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  margin-top: 1.25rem;
}
body .arena .barra-vida-mounstro .vida-mounstro {
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 10px;
}
body .display-box {
  margin-top: 2rem;
  width: 20rem;
  height: fit-content;
  border: 1px solid white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
body .display-box .display-h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
body .display-box .display {
  width: 18.75rem;
  height: fit-content;
  border: 1px solid white;
  background-color: black;
  display: grid;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
body .resultado {
  font-size: 3rem;
  margin: 0 auto;
}

.sesion-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.sesion-box .sesion {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
